.HomeDefault .lander {
  padding: 80px 0;
  text-align: center;
}

.HomeDefault .lander h1 {
  font-family: sans-serif;
  font-weight: 600;
}

.HomeDefault .lander p {
  color: #999;
}

.hd4-option {
  font-weight: 600;
  font-size: 1.5rem;
  text-decoration: none;
}
