.MenuOption {
  font-family: sans-serif;
  font-weight: 600;
  margin: 2rem 0rem 2rem 0rem;
  color: black;
}

.MenuOption a {
  font-family: sans-serif;
  font-weight: 600;
  color: black;
  margin: 0;
}

.MenuOption > a:hover {
  text-decoration: none;
  colo: rgb(0, 123, 255);
}
