.emojiRotate {
  animation-name: rotate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  display: inline-block;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Profile {
  text-align: center;
}

.Details {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
}
