.MenuOption {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  padding: 2rem 0rem 2rem 0rem;
  color: black;
}

.MenuOption a {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: black;
}

.MenuOption > a:hover {
  text-decoration: "none";
  color: black;
}
